<app-menu></app-menu>
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="cardDesign">
        <mat-card-header>
            <mat-card-title>
                Add new user

            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div>
                <mat-form-field class="half-width" appearance='legacy'>
                    <mat-label>username</mat-label>
                    <input matInput required placeholder="username" [(ngModel)]="username">
                </mat-form-field>
                <div class='divider'></div>
                <mat-form-field class="half-width" appearance='legacy'>
                    <mat-label>password</mat-label>
                    <input matInput required placeholder="username" [(ngModel)]="password">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="half-width" appearance='legacy'>
                    <mat-label>first name</mat-label>
                    <input matInput required placeholder="first name" [(ngModel)]="firstName">
                </mat-form-field>
                <div class="divider"></div>
                <mat-form-field class="half-width" appearance='legacy'>
                    <mat-label>last name</mat-label>
                    <input matInput required placeholder="last name" [(ngModel)]="lastName">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="full-width" appearance='legacy'>
                    <mat-label>e-mail</mat-label>
                    <input matInput required placeholder="e-mail" [(ngModel)]="email">
                </mat-form-field>

            </div>

            <br>
            <div class="centerSingleComponent">
                <button mat-raised-button color="primary" (click)='addNew()'>Add User</button>

            </div>
        </mat-card-content>
    </mat-card>
</div>