.full-width {
    width: 100%;
  }
  .picture{
    
     object-fit:contain;
  
  }
  .product{
    cursor: pointer;
    min-width: 180px;
    text-align: center;
    margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
  }
  .container{
  padding: 20px;
  height:33%
  }
  .product img{
  height: 150px;
  object-fit: contain;
  }
  .centerSingleComponent{
    display: flex;
    justify-content: center;
  }
h1{
  color:#3F51B5;
  font-weight: bold;
  font-style: italic;
}