.cardDesign {
    min-width: 50%;
    
    margin: 20px auto;
  }
.full-width {
    width: 100%;
  }
  .picture{
    
    object-fit:contain;
 
}
.product{
   cursor: pointer;
   min-width: 180px;
   text-align: center;
   margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
}
.container{
 padding: 20px;
 height: 80%;
}
.product img{
 height: 150px;
 object-fit: contain;
}